# **Web Scraping with Python: Ecommerce Product Pages. In Depth including troubleshooting**
**Link website for scraping**: https://www.thewhiskyexchange.com/c/35/japanese-whisky<br>
**Link tutorial**: https://youtu.be/nCuPv3tf2Hg
<br>**Link user agent:** 
> - *User agent web*: https://developers.whatismybrowser.com/useragents/explore/software_type_specific/web-browser/ <br>
- *User agent*: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36

In [ ]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [ ]:
baseurl = 'https://www.thewhiskyexchange.com/'

headers = {
    'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'
}

productlinks = []
whiskylist = []

for x in range(1,6):
  r = requests.get(f'https://www.thewhiskyexchange.com/c/35/japanese-whisky?pg={x}#productlist-filter')
  soup = BeautifulSoup(r.content,'lxml')
  productlist = soup.find_all('li', class_='product-grid__item')
  for item in productlist:
    for link in item.find_all('a', href=True):
      productlinks.append(baseurl + link['href'])

for link in productlinks:
  r = requests.get(link, headers=headers)
  soup = BeautifulSoup(r.content,'lxml')

  name = soup.find('h1', class_='product-main__name').text.strip()
  content = soup.find('p', class_='product-main__data').text.strip()
  descriptions = soup.find('div', class_='product-main__description').text.strip()
  price = soup.find('p', class_='product-action__price').text.strip()
  try:
    #total_rating = soup.find('div', class_='review-overview').text.strip()
    total_rating = soup.find('span', class_='review-overview__rating star-rating star-rating--45').text.strip()
    total_reviews = soup.find('span', class_='review-overview__count').text.strip().replace(u'\xa0', ' ')
  except:
    total_rating = 'no rating'
    total_reviews = 'no reviews'

  whisky = {
      'name':name,
      'content':content,
      'rating':total_rating,
      'reviews':total_reviews,
      'descriptions':descriptions,
      'price':price
  }

  whiskylist.append(whisky)

In [ ]:
df = pd.DataFrame(whiskylist)
df

                                                 name  ...   price
0                                Yamazaki 12 Year Old  ...    £135
1                                    The Chita Whisky  ...  £49.95
2                           Nikka Coffey Grain Whisky  ...  £56.95
3                         Hakushu Distiller's Reserve  ...  £66.95
4                                        Suntory Toki  ...  £31.95
..                                                ...  ...     ...
95  Chichibu 2009\n10 Year Old Artist Internationa...  ...  £3,500
96                        Yamazaki Mizunara\nBot.2011  ...  £5,000
97  Ichiro's Malt & Grain\nJapanese Blended Whisky...  ...  £2,000
98                          Chichibu 2010\nCask #1000  ...  £3,250
99        Karuizawa 1984\n28 Year Old Cocktail Series  ...  £8,000

[100 rows x 6 columns]

--------------------------------------------

# **Rpository of the code**

In [ ]:
baseurl = 'https://www.thewhiskyexchange.com/'

headers = {
    'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36'
}

productlinks = []

#loop for web-pages
for x in range(1,6):
  # r = requests.get('https://www.thewhiskyexchange.com/c/35/japanese-whisky')
  r = requests.get(f'https://www.thewhiskyexchange.com/c/35/japanese-whisky?pg={x}')
  soup = BeautifulSoup(r.content,'lxml')
  productlist = soup.find_all('li', class_='product-grid__item')
  # productlist
  for item in productlist:
    for link in item.find_all('a', href=True):
      productlinks.append(baseurl + link['href'])

# print(len(productlinks))
# productlinks

In [ ]:
#testlink = 'https://www.thewhiskyexchange.com/p/37317/the-chita-whisky' #'https://www.thewhiskyexchange.com/p/25880/hanyu-1985-the-joker-monochrome-label'

whiskylist = []

for link in productlinks:
  #r = requests.get(testlink, headers=headers)
  r = requests.get(link, headers=headers)
  soup = BeautifulSoup(r.content,'lxml')

  name = soup.find('h1', class_='product-main__name').text.strip()
  content = soup.find('p', class_='product-main__data').text.strip()
  descriptions = soup.find('div', class_='product-main__description').text.strip()
  price = soup.find('p', class_='product-action__price').text.strip()
  try:
    #total_rating = soup.find('span', class_='review-overview__rating star-rating star-rating--45').text.strip()
    total_rating = soup.find('div', class_='review-overview').text.strip()
    total_reviews = soup.find('span', class_='review-overview__count').text.strip().replace(u'\xa0', ' ')
  except:
    total_rating = 'no rating'
    total_reviews = 'no reviews'

  whisky = {
      'name':name,
      'content':content,
      'rating':total_rating,
      'reviews':total_reviews,
      'descriptions':descriptions,
      'price':price
  }

In [ ]:
# whisky
whiskylist.append(whisky)
print('Saving:', whisky['name'])

Saving: Karuizawa 1984
28 Year Old Cocktail Series

In [ ]:
df = pd.DataFrame(whiskylist)
df

                                          name  ...   price
0  Karuizawa 1984\n28 Year Old Cocktail Series  ...  £8,000

[1 rows x 6 columns]